{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
<section class="flex justify-center items-center py-10">
    <form method="POST" class="border p-8 w-[90%]  sm:w-[60%] max-w-md space-y-4">
        <h2 class="text-3xl font-bold text-center mb-4">Register</h2>
        {% csrf_token %}

        {# Show non-field errors only if there are any #}
        {% if form.non_field_errors %}
        <div class="bg-red-100 text-red-700 p-2 rounded">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {# Render fields manually so we can control field-specific errors #}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
            <div class="text-red-600 text-sm">
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="bg-orange-500 w-full py-2 rounded font-semibold cursor-pointer">Register</button>

        <p class="text-center text-sm mt-2">
            Already have an account? <a href="{% url 'login' %}" class="text-orange-400">Login</a>
        </p>
    </form>
</section>
{% endblock %}