{% extends "base.html" %}

{% block content %}
<section class="mt-10 w-[90%] sm:w-[50%] mx-auto">
    <h1 class="text-center text-orange-500 text-2xl">Welcome to the about page.</h1>
    <p class="text-center">ODC Share is a modern file sharing application built with Django and tailwindCSS. It allows users to securely update, store and share files with others through rooms. Designed with simplicity and speed in mind, the platform supports private and public sharing, download tracking and efficient file management. Wheter for personal use, academic collaboration or team project, ODC share makes file sharing seamless and reliable.</p>
</section>
{% endblock %}

