{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="text-center py-10">
    <!-- Heading -->
    <h1 class="text-5xl sm:text-7xl font-bold">File sharing system</h1>
    <p class="text-lg text-orange-400 pt-4">Share Fast, Share Secure</p>

    {% load static %}
    <!-- Features -->
    <div class="max-w-[90%] sm:max-w-[60%] mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 my-10 px-4">
        <div class="border-2 p-6 hover:shadow-lg transition">
            <img class="mx-auto w-20" src="{% static 'images/up.svg' %}" alt="Logo" width="100">
            <h2 class="text-xl font-semibold mb-2">Upload Files</h2>
            <p class="text-gray-300">Send files securely to others on the same network</p>
        </div>
        <div class="border-2 p-6 hover:shadow-lg transition">
            <img class="mx-auto w-20" src="{% static 'images/down.svg' %}" alt="Logo" width="100">
            <h2 class="text-xl font-semibold mb-2">Download Files</h2>
            <p class="text-gray-300">Join Rooms and Download files shared locally</p>
        </div>
        <div class="border-2 p-6 hover:shadow-lg transition">
            <img class="mx-auto w-20" src="{% static 'images/user.svg' %}" alt="Logo" width="100">
            <h2 class="text-xl font-semibold mb-2">Attendance</h2>
            <p class="text-gray-300">Mark or view attendance records for your network Rooms</p>
        </div>
    </div>
    </div>
</section>
{% endblock %}
