{% extends 'base.html' %}
{% block title %}Create Room{% endblock %}

{% block content %}
<section class="flex justify-center items-center py-10">
    <form method="POST" class="border p-8 w-full max-w-md space-y-4">
        {% csrf_token %}
        <h1 class="text-3xl font-bold text-center mb-4">Create Room</h1>

        <input type="text" name="room_name" placeholder="Enter Room Name" class="w-full rounded p-2 bg-black border border-gray-600 text-white">
        <textarea name="description" placeholder="Enter Room Description" rows="4" class="w-full rounded bg-black border border-gray-600 text-white"></textarea>

        <button type="submit" class="bg-orange-500 w-full py-2 rounded font-semibold cursor-pointer">Create</button>
    </form>
</section>
{% endblock %}
