{% extends 'base.html' %}
{% block title %}Join Room{% endblock %}

{% block content %}
<section class="flex justify-center items-center py-10">
    <form method="POST" class="border p-8 w-full max-w-md space-y-4">
        {% csrf_token %}
        <h1 class="text-3xl font-bold text-center mb-4">Join Room</h1>

        <input type="text" name="room_code" placeholder="Enter Room Code" class="w-full p-2 rounded bg-black border border-gray-600 text-white">
        
        <button type="submit" class="bg-orange-500 w-full py-2 rounded font-semibold cursor-pointer">Join</button>
    </form>
</section>
{% endblock %}
