<!DOCTYPE html>
<html lang="en" class="bg-black text-white">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FSS{% endblock %}</title>
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">
</head>

<body class="flex flex-col min-h-screen w-full">
    {% if messages %}
    <div class="fixed top-4 right-4 space-y-2">
        {% for message in messages %}
        <div class="px-4 py-2 rounded {{ message.tags }} bg-green-200 text-green-800">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Navbar-->
    <nav class="bg-black border-b border-gray-500 sticky top-0 z-50">
        <!-- The hidden checkbox MUST come before the dropdown and share the same parent -->
        <input id="nav-toggle" type="checkbox" class="peer hidden" />

        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <!--Logo -->
                <a href="/" class="text-white text-xl font-extrabold">ODC share</a>

                <!-- Desktop menu -->
                <div class="hidden md:flex items-center space-x-6">
                    <a href="/" class="text-white hover:text-orange-500">Home</a>
                    <a href="{% url 'about' %}" class="text-white hover:text-orange-500">About</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'list_rooms' %}" class="block text-white hover:text-orange-500">Rooms</a>
                    <a href="{% url 'dashboard' %}" class="block text-white hover:text-orange-500">Dashboard</a>
                    <a href="{% url 'logout' %}" class="bg-orange-500 px-4 py-1 rounded">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="bg-orange-500 px-4 py-1 rounded">Login / Signup</a>
                    {% endif %}
                </div>

                <!-- Mobile hamburger -->
                <label for="nav-toggle" class="md:hidden cursor-pointer p-2">
                    <svg class="w-7 h-7 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </label>
            </div>
        </div>

        <!-- Mobile dropdown-->
        <div class="hidden peer-checked:block md:hidden border-t border-gray-500 bg-black mb-4">
            <a href="/" class="block px-4 py-3 text-white hover:bg-orange-500 hover:text-white">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'list_rooms' %}"
                class="block px-4 py-3 text-white hover:bg-orange-500 hover:text-white">Rooms</a>
            <a href="{% url 'dashboard' %}"
                class="block px-4 py-3 text-white hover:bg-orange-500 hover:text-black">Dashboard</a>
            <a href="{% url 'logout' %}" class="bg-orange-500 px-4 py-1 rounded ml-3 mt-3">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="bg-orange-500 px-4 py-1 rounded">Login / Signup</a>
            {% endif %}
        </div>
    </nav>



    <!-- Main Content -->
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-orange-500 p-4 text-center">
        <div class="space-x-4">
            <a href="/" class="hover:underline">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'list_rooms' %}" class="text-white hover:text-black">Rooms</a>
            <a href="{% url 'dashboard' %}" class=" text-white hover:text-black">Dashboard</a>
            {% else %}
            <a href="{% url 'login' %}" class="bg-orange-500 px-4 py-1 rounded">Login / Signup</a>
            {% endif %}
        </div>
        <p class="mt-2">2025 - Works without data</p>
    </footer>
</body>

</html>